@if (shouldShowPagination()) {
  <div class="flex flex-col sm:flex-row items-center justify-between gap-4">
    <!-- Informações da página -->
    <div class="text-xs sm:text-sm text-gray-600 text-center sm:text-left">
      Mostrando <span class="font-bold">{{ startItem() }}-{{ endItem() }}</span> de <span class="font-bold">{{ totalItems }}</span> registros
    </div>

    <!-- Controles de paginação -->
    <div class="flex items-center gap-1">
        <!-- Botão Anterior -->
        <button
          (click)="onPreviousPage()"
          [disabled]="currentPage === 1"
          class="mx-1 sm:mx-[10px] px-2 sm:px-3 py-1 text-xs sm:text-sm rounded-lg h-8 sm:h-10 w-8 sm:w-10 bg-transparent text-textSecondary hover:text-bold disabled:text-gray-400 disabled:cursor-not-allowed transition-colors"
        >
          &lt;
        </button>

        <!-- Números das páginas -->
        <div class="flex items-center gap-1">
          @for (page of visiblePages(); track $index) {
            <div>
              @if (page === '...') {
                <span class="px-2 sm:px-3 py-1 text-gray-500 text-xs sm:text-sm">...</span>
              } @else {
                <button
                  (click)="onPageChange(+page)"
                  [class]="'px-2 sm:px-3 py-1 text-xs sm:text-sm min-w-[32px] sm:min-w-[40px] rounded-lg h-8 sm:h-10 w-8 sm:w-10 transition-colors ' +
                    (currentPage === page
                      ? 'bg-brandPrimary text-white'
                      : 'bg-backgroundSecondary hover:bg-blue-200 text-textSecondary')"
                >
                  {{ page }}
                </button>
              }
            </div>
          }
        </div>

        <!-- Botão Próximo -->
        <button
          (click)="onNextPage()"
          [disabled]="currentPage === totalPages"
          class="px-2 sm:px-3 py-1 text-xs sm:text-sm rounded-lg h-8 sm:h-10 w-8 sm:w-10 bg-transparent text-textSecondary hover:text-bold disabled:bg-gray-100 disabled:cursor-not-allowed transition-colors"
        >
          &gt;
        </button>
      </div>
  </div>
}
